<h1>
    <center>Miembros del equipo</center>
</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col md-5">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Username</td>
                        <td>Fullname</td>
                        <td>Edad</td>
                        <td>Pais</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each users2}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{fullname}}</td>
                        <td>{{edad}}</td>
                        <td>{{pais}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>