<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            {{#each leader_board}}
                <div class="col-md-16">
                    <div class="card">
                        <div class="card-body">
                            <a href="users/{{id}}">
                                <h3 class="card-title text-uppercase">
                                    {{Rank}} {{id}} {{username}} {{winrate}}%
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Id</th>
                        <th>User</th>
                        <th>Win rate</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </div>

        </div>
        <div class="col-md-5">
            qeqweqweqweqeqwewqe
        </div>
    </div>
</div>
