{{#each users2}}
<h1>
    <center>Usuario</center>
</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col md-5">
            <table class="table" id="table">
                <form action="/profile/{{id}}" method="post"></form>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Tag</td>
                        <td>Username</td>
                        <td>Fullname</td>
                        <td>Edad</td>
                        <td>Pais</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{id_equipo}}</td>
                        <td>{{username}}</td>
                        <td>{{fullname}}</td>
                        <td>{{edad}}</td>
                        <td>{{pais}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/each}}