
<h1>
    <center>Información de la partida </center>
</h1>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Juego</th>
                        <th>Player1</th>
                        <th>Player2</th>
                        <th>Mapa</th>
                    </tr>
                </thead>
                

                <tbody>
                    {{#each p_torneo}}
                        <tr>
                            <td>{{id_partida}}    </td>
                            <td>{{num_match}}</td>
                            <td>{{nombre1}}</td>
                            <td> {{nombre2}}    </td>
                            <td>{{nombre}}</td>


                        </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
                <div class="col-md-5">
            <div class="card">
                <div class="card-body" data-target="#id_torneo">
                    <form action="/tournament/info/info/{{id_tor}}" method="post" onsumit="return Validator()">
                 <div class="form-group"><input type="number" name="num_match" placeholder="N° de match" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                <div class="form-group"><input type="number" name="pj1" placeholder="Personaje del jugador 1" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                <div class="form-group"><input type="number" name="pj2" placeholder="Personaje del jugador 2" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                <div class="form-group"><input type="number" name="mapa" placeholder="Mapa" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                <button type="submit" class="btn btn-primary">
                    Agregar juego
                </button>
            </form> 
                </div>
            </div>


        </div>
        
    </div>
</div>
