<h1>
    <center>Teams registered</center>
</h1>
<div class="container p-4">
    <div class="r">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/teams" method="POST">
                        <div class="form-group"><input type="text" name="nombre" placeholder="Nombre"
                                class="form-control"></div>
                        <div class="form-group"><input type="text" name="tag" placeholder="Tag" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar equipo
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col md-5">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Tag</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each equipos}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{nombre}}</td>
                        <td>{{tag}}</td>
                        <td>
                            <a href="/teams/delete/{{id}}" class="btn btn-danger">Borrar</a>
                            <a href="/teams/edit/{{id}}" class="btn btn-secondary">Edit</a>
                            <a href="/teams/members/{{id}}" class="btn btn-secondary">Miembros</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>